h1 {
  font-size: 72px;
  margin: 0 0 0 10px;
}

h2 {
  margin: 20px 0 0 10px;
  text-align: left;
}

body {
  font-family: "Zilla Slab", serif;
}

.header {
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 1%,
      rgba(255, 255, 255, 1)
    ),
    url(components/assets/bkg1.png);
  width: auto;
  height: 325px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: #00d95f;
  color: white;
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 1em;
  border-radius: 12px;
  border: none;
  padding: 0.5em;
  margin: 0 50px 0 10px;
}

.playlistbtn {
  width: auto;
  text-align: center;
  margin: 20px 0px 20px;
}

.playlist {
  background-color: white;
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.playlistname {
  margin-top: 10px;
  font-family: "Zilla Slab", serif;
}

.spotify {
  width: 2em;
  height: 2em;
}

.loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid black; /* Black*/
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@media only screen and (min-width: 560px) {
  h1 {
    font-size: 90px;
  }
  .content {
    font-size: 21px;
  }
}

@media only screen and (min-width: 714px) {
  .content {
    font-size: 27px;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    margin-top: 40px;
  }
  .content {
    font-size: 30px;
  }
  .header {
    text-align: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
