<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>The Quietus | Features | The Lead Review  | Lead Review: Tara Joshi On Frank Ocean's Blond[e]</title>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400italic|Roboto+Condensed:700' rel='stylesheet' type='text/css' />
    <link href="/stylesheets/screen.css?1598949633" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/display.css?1598949633" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://thequietushour.com/thequietus.css"> 
		<script src="/javascripts/cached/all.js?1547148560" type="text/javascript"></script>
		<link href="/feed" rel="alternate" title="ATOM" type="application/atom+xml" />
		<meta name="resource-type" content="document" />
		<meta http-equiv="content-language" content="en-us" />
		<meta http-equiv="author" content="The Quietus" />
		<meta http-equiv="contact" content="editor@thequietus.com" />
		<meta name="copyright" content="Copyright (c)2007-2008 The Quietus. All Rights Reserved." />
		<meta name="description" content="A new rock music and pop culture website. Editorial independent music website offering news, reviews, features, interviews, videos and pictures" />
		<meta name="keywords" content="quietus, thequietus.com, get music videos, photos, reviews, interviews, newsletters, info on festivals, tours, clubs, concerts, releases, cd, indie, rock, pop, film, books, metal, rap, see photos, music videos, hip hop, dance, mash up, john doran, luke turner" />
		<meta http-equiv="imagetoolbar" content="false" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="all" />
		<meta name="mssmarttagspreventparsing" content="true" />
		<meta name="verify-v1" content="eBx18Az9A9Rn/d+wuRUv0vvnwd/BiQClHgeIiVDrxJ4=" />
    <meta name="avgthreatlabs-verification" content="10682a05bccb774fc70c35c36bf0d8d0a712fd9a" />
    <meta name="norton-safeweb-site-verification" content="khb6k1sln4ixhn-wy4t6dcs1nxoquqd92atg2aeqifygcvk5enughsq009zg-clajlhrdw84z2uf6zeeryb5546am2kovxdh5p-ok1a33310xd5lpwmag85zavbdzsgf" />
		<!-- TradeDoubler site verification 1546520 -->
    <meta property="og:site_name" content="The Quietus"/>
    <meta property="og:title" content="The Quietus | Features | The Lead Review  | Lead Review: Tara Joshi On Frank Ocean's Blond[e]" />
    <meta property="fb:app_id" content="1415180232065330" />
    <meta property="og:type" content="article" />
    
      <meta property="og:description" content="In Frank Ocean's long (<i>long</i>) awaited third album, Tara Joshi finds the artist asking questions about the positive and negative effects of the immediacy of our age and is left with her own about expectation and lasting change in the face of its subversion" />
    
    
    
      <meta property="og:image" content="http://s3.amazonaws.com/quietus_production/images/articles/20803/frank-ocean-blond-compressed-0933daea-f052-40e5-85a4-35e07dac73df_1472114912.jpg" />
    
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-ipad-retina.png" />
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-4061138-1', 'auto');
     ga('send', 'pageview');

    </script>

    <!-- Begin comScore Tag -->
    <script>
     var _comscore = _comscore || [];
     _comscore.push({ c1: "2", c2: "8568956" });
     (function() {
       var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
       s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
       el.parentNode.insertBefore(s, el);
     })();
    </script>
    <noscript>
      <img src="http://b.scorecardresearch.com/p?c1=2&c2=8568956&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->
    <!­­ BEGIN Krux Control Tag for "The Quietus" ­­>
    <!­­ Source: /snippet/controltag?confid=J7RlwvsY&site=The%20Quietus&edit=1 ­­>
    <script class="kxct" data­id="J7RlwvsY" data­timing="async" data­version="1.9" type="text/javascript">
     window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
     (function(){
       var k=document.createElement('script');k.type='text/javascript';k.async=true;
       var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
       k.src = /^https?:\/\/([a­z0­9_\­\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src ===
         "disable" ? "" : (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=J7RlwvsY";
       var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
     }());
    </script>
    <!­­ END Krux Controltag ­­>
    <!-- Begin new Quantcast tag -->
    <script type="text/javascript">
     var _qevents = _qevents || [];

     (function() {
       var elem = document.createElement('script');
       elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
       elem.async = true;
       elem.type = "text/javascript";
       var scpt = document.getElementsByTagName('script')[0];
       scpt.parentNode.insertBefore(elem, scpt);
     })();
    </script>
    <!-- End new Quantcast tag-->
    <!-- Start steady tag -->
<script type="text/javascript" src="https://steadyhq.com/widget_loader/26a68f46-2c43-4a73-90ce-bbf35117e855"></script>
    <!-- End steady tag -->
  </head>
  <body>
    <div id="wrapper_outer">
		  <div id="wrapper">
        <div class="header_wrapper">
          <h1><a href="/"><img alt="The Quietus - A new rock music and pop culture website" src="/images/the_quietus.jpg?1547148560" /></a></h1>
          
            <div id="leaderboard">
        </div>
      
      </div>
		<div id="wrapper_inner">


<ul class="menu">


    <li class="first "><a href="/news">News</a></li>

    <li class=""><a href="/reviews">Reviews</a></li>

    <li class="active"><a href="/features">Features</a></li>

    <li class=""><a href="/opinion">Opinion</a></li>

    <li class=""><a href="/film">Film</a></li>

    <li class=""><a href="/about">About Us</a></li>

    <li class="first "><a href="/features/tome-on-the-range">Books</a></li>

    <li class=""><a href="/features/craft-work">Art</a></li>

    <li class=""><a href="http://thequietus.com/radio">Radio & Podcasts</a></li>

    <li class=""><a href="http://twitter.com/thequietus">Twitter</a></li>

    <li class=""><a href="https://www.facebook.com/TheQuietus">Facebook</a></li>

    <li class=""><a href="/">Privacy Notice</a></li>

</ul>
<div class="clear left"></div>




<script type="text/javascript">
//<![CDATA[


addEvent(window, 'load', highlightFlashes);

function highlightFlashes() {
  if ($('notice')) new Effect.Highlight('notice');
  if ($('warning')) new Effect.Highlight('warning');
  if ($('success')) new Effect.Highlight('success');
}


//]]>
</script>







<div id="content" style="width:560px">




<div style="width:100%;">


<div class="section ">
<div class="section_header">
<span class="decorative_text small_header">The Lead Review </span>
<h2>Lead Review: Tara Joshi On Frank Ocean's Blond[e]
	<br/><span class="sub"></span><span class="sub_sub"><!-- Author Start -->
Tara Joshi
<!-- Author End -->, August 25th, 2016 09:29</span></h2>
</div>
<div>
	

<div class="snippet"><p>In Frank Ocean's long (<i>long</i>) awaited third album, Tara Joshi finds the artist asking questions about the positive and negative effects of the immediacy of our age and is left with her own about expectation and lasting change in the face of its subversion</p></div>






<div class="article steady-paywall-container">
	
	<!-- Article Start -->
	
    <p><img src="http://s3.amazonaws.com/quietus_production/images/articles/20803/frank-ocean-blond-compressed-0933daea-f052-40e5-85a4-35e07dac73df_1472114912_crop_550x550.jpg" alt="" width="550" height="550" class="normal"/></p> 

<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://thequietus.com/articles/20803-frank-ocean-blond-blonde-endless-album-review" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<p>Let’s talk about the conflicting notion of “being present”. We live in an age where everyone talks about the benefits of being mindful and craves the pleasure of <i>enjoying the now</i>. The trouble is that we’re also in an age of immediacy, where it feels like anything we desire can be achieved or discovered by tapping away briefly at a keyboard or a screen. We’re constantly wired in, constantly able to access and share information, and “being present” becomes a little difficult when you’re simultaneously refreshing your newsfeed or sharing said “present” on your Snapchat story. In the world of social media, things are either amazing or terrible, and there’s rarely room for an in-between. </p> 

<p>Increasingly, we’re distracted by our ability to achieve instant gratification, and it’s why being a Frank Ocean fan has felt like a test these past four years (when, in reality, that’s not actually all that long to wait for a new LP). With both <i>Endless</i> (the visual album), and <i>Blond</i> (or <i>Blonde</i>, a distinction presumably to do with representing both the masculine and the feminine), the test continues – the hooks don’t immediately present themselves, and the bangers aren’t so evidently there. This doesn’t stop both works from being great albums – they are great – but they require time and, realistically, a step-back from the extraordinary (and sometimes ludicrous) hype that necessitates Ocean’s new works be either masterpieces or a complete let-down.</p> 

<p>Ocean (real name Christopher Breaux) is surely very aware of the test he has been presenting in the years post-<i>Channel Orange</i>. He too is part of this generation that has grown used to the immediacy of social media: famously, he wrote an incredibly moving and open letter about his sexuality in a Tumblr post. So it’s fair to say he understood the effect he was having with his hints at deadlines that weren’t fulfilled – it’s not unjustified to say he was deliberate in causing the intense feelings of frustration surrounding the teasing livestream of him doing woodwork. Whether this was out of fear regarding the pressure, just calculated teasing, or a mix of both it’s hard to know – but it’s telling that on ‘Futura Free’ he offers, “I ain't on your schedule, I ain't on no schedule”.</p><center style="border-bottom:2px solid #DDD; border-top:2px solid #DDD; margin:10px 0; font-size:10px; padding:0 0 10px 0;">
  <div>
  </div>
</center>
 

<p>Of course, the apparent trolling that was the woodwork culminated in the strangely mesmerising <i>Endless</i>, moving from the dialled-down tone of Alex G’s gorgeously hazy guitars into the immensely satisfying beats of ‘Higgs’ as he <i>finally</i> climbs that enigmatic spiral staircase in a moment that’s oddly breathtaking. </p> 

<p><i>Endless</i> ought to be kept in mind when considering <i>Blond(e)</i>, especially concerning the idea of “being present”. Take ‘Device Control’, for example, the bizarre and wonderful Wolfgang Tillmans song that bookends the visual album: “With this Apple appliance you can capture live video”, Tillmans says, before refraining, “Livestream your life”. In asking to use Tillmans’ track, it’s apparent that the clash between immediacy and actually living your life is seemingly very much on Ocean’s mind – something that’s also implicit in how <i>Endless</i> plays out as a whole. </p> 

<p>There are points where Ocean sits and checks his phone, such as during ‘U-N-I-T-Y’, and it feels frustrating – rude almost, that he should be doing this rather than continuing with his hugely anticipated project. He climbs the staircase all-too briefly before it cuts to him hanging around the warehouse again (this time to Tillman’s hugely surreal tune). The music is relatively subdued throughout the rest of the 45 minutes of the album though, and it’s as though he’s making two points: firstly questioning our need to be constantly plugged in, even when making or experiencing art, and secondly highlighting that he’s damn well going to create his art in his own time, thank you very much.</p> 

<p>And when you listen to <i>Blond(e)</i>, there’s no mistaking the fact you’re listening to Frank Ocean’s fully conceptualised, curated personal vision – that you’re on his schedule. The form isn’t that of a typical pop or R&amp;B album – it tends to meander into his surreal, almost vaporwave-y dreamscapes, cut with jarring samples of conversation, odd effects, drifting guitars and beatless melodies that go on longer than expected. While these explorations may teeter on the brink of being detrimental to the flow of the album, Ocean just about manages to keep his indulgences in check when things threaten to get repetitive or dull.  </p> 

<p>Naysayers might highlight that there are other R&amp;B artists in 2016 who are more relevant and more deserving of all the praise heaped on Ocean, and while there’s perhaps some truth in that, the production values that he upholds make his releases necessary listens within the genre. He subverts the expectation of any track seeming the obvious “hit” of the record too (often going so far as to fascinatingly distort his beautiful vocals). Instead, it’s an album that lets you find your place within it – whether you’re more interested in the swoony, D’Angelo end of soulful R&amp;B as on breezy, string-laden ‘Pink + White’ (with sweet, unobtrusive harmonisation from Beyoncé), the truly sublime gospel stylings of ‘Godspeed’, or the more aggressive line of hip hop on tracks like André 3000’s incredible feature on ‘Solo (Reprise)’.</p> 

<p>For the most part these aren’t really tracks you can have on in the background while you’re otherwise occupied and expect to enjoy. In the same way as Kendrick Lamar’s free jazz on <i>To Pimp A Butterfly</i> last year, this is an album that unfurls its nuances when you actually just sit back and listen to it. As on James Blake’s latest, these aren’t catchy songs so much as finely-drawn earworms. Given that both those artists helped work on <i>Blond(e)</i>, it’s worth keeping in mind that this is a record that - for danger of sounding like a lazy apologist - requires your being present for it, and Ocean rewards you for taking your time with it. </p> 

<p>In fact, for all myself and other writers will try in the coming week, it’s an album that works distinctly against instant review culture, and it’s a funny contradiction in that sense: one of the most hyped albums of the past couple years is musically complex enough that it begs you not to just give the “hot take” on it. It begs that it actually gets listened to, outside of the vacuum of hype, and hopes (perhaps optimistically, in our fast-moving news cycles) it might have some longevity.  </p> 

<p>Certainly, there’s plenty to listen to and take in here.</p> 

<p>The album was previously known as <i>Boys Don’t Cry</i>, and in the magazine that accompanies <i>Blond(e)</i> he talks about how, as a teenager, he never cried – and how he misses those days. On the celestial ‘Godspeed’, with its quivering, echoey synths and delicate intertwining vocals from Kim Burrell, he seems to yearn for those times whilst simultaneously saying “Godspeed” to those days, and to his loved ones who are moving on. It’s an interesting choice – acknowledging the trappings of masculinity, but still craving the mask.   </p> 

<p>The subdued tone on tracks like ‘Godspeed’ is something that calmly finds its place throughout the album - again, partly due to the rare use of percussion - but it’s why that André 3000 track really stands out: it’s the only moment of feral, all-out aggression, and hits you in the gut because of it. While hip hop aficionados are quick to leap on the apparent Drake diss (“After 20 years in, I'm so naive I was under the impression that everyone wrote they own verses”), one of the most harrowing bars is surely when he talks about police brutality. “So-lo that I can admit when I hear that another kid is shot by the popo, it ain't an event no more”, is said almost in passing, before he hurls rapidly into his next line – the reality is so horribly ingrained in the everyday that the album doesn’t have to dedicate a whole load of songs to Black Lives Matter for its impact to resonate throughout.     </p> 

<p>Meanwhile, Ocean’s own rage is a little more quiet and inward. It’s a striking and quite beautiful moment in the entirely dazzling opener ‘Nikes’ when he says “RIP Trayvon, that nigga looked just like me”, it’s simultaneously an interesting reminder of how – particularly in the age of social media – we sometimes experience grief by attempting to place ourselves into the scenario. Ocean has of course shown his support for the movement in the past, and the concept of anyone who looks like Trayvon Martin being subject to police brutality is something horrifyingly familiar to many Americans – and, indeed, to black people around the world. Again, without the album getting deeply political, Ocean gives a snapshot of his sense of disbelief that deaths like this are still happening, and in its simplicity - in the manner it strikes like a fleeting but constant thought - it’s a line that says an impressive amount.</p> 

<p>Indeed, in general on this album Frank Ocean’s aggressions are subtle but clever ones. He subverts standard hip hop insults on ‘Futura Free’ - “I don't cut bitches no more, but your bitch my exception”. In hip hop, with its history of homophobia and misogyny, the biggest insults at one point were to be called gay, or to stake claim over someone else’s girl: Ocean saying that even though he mainly sees men now, he’ll happily stake claim over your woman is accordingly the ultimate, quiet insult.</p> 

<p>If we consider the album as a mind-map of Ocean at this stage in his life, we have the fleeting glimpses of politics, worries about materialism on ‘Nikes’ and him becoming more at ease with his sexuality. For the most part, though, this is an album about love and, perhaps intrinsically linked to that, drugs and mortality. </p> 

<p>His drug usage is often linked with his relationships - whether that be his friend’s mother warning him off weed, or in ‘Siegfried’ when contemplating ‘shrooms and admitting that, while on them, he’ll “maybe have a good cry about you”. The mentions of weed often seem to imply he’s sharing it with a partner. Drugs allow an extra layer between him and his prospective partners, whether intensifying feelings and bringing them together in shared experience or, perhaps, allowing for some hazy distance when things aren’t going as anticipated. </p> 

<p>This is in interesting contrast with the implicit sentiment of the need to be fully present in love, as on ‘Facebook Story’, in which the protagonist and his girlfriend break-up because he doesn’t understand the need to accept her on Facebook when he’s with her almost everyday in real life. Again, Ocean is frustrated with our need to be hyper-connected – the necessity of being “friends” virtually when we are living in front of one another.</p> 

<p>Even when in front of one another, relationships aren’t so simple. When Ocean sings “I’ll be the boyfriend in your wet dreams tonight” on the gorgeous ‘Self Control’ there’s a playful, puerile desire on show, but he’s achingly trying to place himself into a love story that isn’t his. “Keep a place for me, I sleep between y’all, it’s nothing”, is the ultimately hopeless refrain - the best he can hope for is to be in their dreams while they sleep with their actual significant other. It’s by no means a new concept, but it’s still quite beautifully realised.  </p> 

<p>And that’s the thing overall: ultimately, <i>Blond(e)</i> is an accomplished R&amp;B record, and it’s beguiling in its dreamy, abstracted production, but the question of whether or not it's the huge gamechanger that everyone wants it to be remains open for now, hinging largely on if it sits just a little far out of the centre of the mainstream to have any lasting effect. But why should it have to? He did that already with <i>Channel Orange</i>. It doesn’t stop <i>Blond(e)</i> from being a sublime and largely impressive album in its own right, to the point where this review only touches on the many themes that might yet be unpacked from it.</p> 

<p>“If <i>Channel Orange</i> is <i>Pet Sounds</i>, <i>Endless/Blond(e)</i> is what would have been if Wilson was allowed the time to complete <i>Smile</i>”, a friend says, and though he is perhaps being wilfully hyperbolic, it’s not a bad comparison within Ocean’s own canon. After a definitive album of hits in <i>Channel Orange</i>, this is the point where he’s truly felt able to go for what he wants – where he’s fully able to let his guard down.</p> 

<p>Elusively, details are still emerging and will probably continue to do so over the next few months (if not years) regarding who exactly did what on this record. Are there discarded sessions? Wasn’t Holly Herndon meant to be in on this? Suffice to say, Ocean took his time with all aspects of this album in a manner that calls on your patience. </p> 

<p>Ignore the bizarre internet-age concept that this has to be embraced as an instant all-time classic or discarded as “hookless morass”, and just take a listen. You’d be forgiven for second-guessing yourself and, in the midst of the hype, worrying this is somehow an Emperor’s New Clothes situation. Ultimately, though, with the nuanced sonic beauty on display throughout, it seems fair to say Frank Ocean has the clothes. If you value artistry at all, you would do him an injustice by not taking your time with this record. Grossly cloying as it is to reiterate, try and “be present” in it. You get the feeling it’s what Frank Ocean would want. </p>
	  
	<!-- Article End -->
	
  <div id="normanrecords_html"></div>

<script>
var xmlhttp = new XMLHttpRequest();
var path = window.location.pathname;
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var deets;
        try {
          deets = JSON.parse(this.responseText);
	} catch(e) {}
        if(deets !== undefined) {
          document.getElementById("normanrecords_html").innerHTML = "<br>" + deets.html;
        }
    }
};
xmlhttp.open("GET", "https://www.normanrecords.com/get-item-details-for-quietus.php?path="+path, true);
xmlhttp.send();
</script>

	

<div class="social_links">
<p><strong>Share this article:</strong>
<a title="Post to Facebook" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fthequietus.com%2Farticles%2F20803-frank-ocean-blond-blonde-endless-album-review&amp;t=Lead+Review%3A+Tara+Joshi+On+Frank+Ocean%27s+Blond%5Be%5D"><img src="/images/facebookcom.gif" alt="Post to Facebook"/></a>
<a title="Post to Twitter" href="http://twitter.com/home?status=Lead+Review%3A+Tara+Joshi+On+Frank+Ocean%27s+Blond%5Be%5D: https%3A%2F%2Fthequietus.com%2Farticles%2F20803-frank-ocean-blond-blonde-endless-album-review"><img src="/images/twitter.gif" alt="Post to Twitter" / ></a>
<a title="Add to del.icio.us" href="http://del.icio.us/post?url=https%3A%2F%2Fthequietus.com%2Farticles%2F20803-frank-ocean-blond-blonde-endless-album-review;title=Lead+Review%3A+Tara+Joshi+On+Frank+Ocean%27s+Blond%5Be%5D"><img src="/images/delicious.gif" alt="add to del.icio.us"/></a>
<a title="Digg it" href="http://digg.com/submit?phase=2&amp;url=https%3A%2F%2Fthequietus.com%2Farticles%2F20803-frank-ocean-blond-blonde-endless-album-review"><img src="/images/digg.gif" alt="Digg it"/></a>
<a title="Stumble It!" href="http://www.stumbleupon.com/submit?url=https%3A%2F%2Fthequietus.com%2Farticles%2F20803-frank-ocean-blond-blonde-endless-album-review&amp;title=Lead+Review%3A+Tara+Joshi+On+Frank+Ocean%27s+Blond%5Be%5D"><img src="/images/stumbleit.gif" alt="Stumble It!"/></a>
<a title="Post to Reddit" href="http://reddit.com/submit?url=https%3A%2F%2Fthequietus.com%2Farticles%2F20803-frank-ocean-blond-blonde-endless-album-review;title=Lead+Review%3A+Tara+Joshi+On+Frank+Ocean%27s+Blond%5Be%5D"><img src="/images/reddit.gif" alt="Post to Reddit"/></a>
</p>
</div>

</div>
</div>



</div>
<a href="/articles/28506-membership">
  <div class="sidebar donate">
	<div class="sidebar_inner">
		
		<h5><span class="decorative_text sidebar_header">SUBSCRIBE TO THE QUIETUS</span></h5>
		
		
    <p>
      If you love what we do, you can help tQ to continue bringing you the best in cultural criticism and new music by joining one of our subscription tiers. As well as the unparalleled joy of keeping the publication alive, you'll receive benefits including exclusive editorial, podcasts, and specially-commissioned music by some of our favourite artists. To find out more, click here.
        </p>
    
	</div>
</div>
</a>







<br/>










</div>

</div>





<div id="sidebar">
  <center style="border-bottom:2px solid #DDD; border-top:2px solid #DDD; margin:10px 0; font-size:10px; padding:0 0 10px 0;">
  <div>
  </div>
</center>

  <div class="sidebar search">
	<div class="sidebar_inner">
		
		<h5><span class="decorative_text sidebar_header">SEARCH THE QUIETUS</span></h5>
		
		
<script>
  (function() {
    var cx = '004319909710598207443:onjfxvsqn1s';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>

	</div>
</div>




<div id="left">
	

	
	  <div class="sidebar ">
	<div class="sidebar_inner">
		
		<h5><span class="decorative_text sidebar_header">RELATED ARTICLES</span></h5>
		
		
<ul class="related"><li class="first">
	<a href="/articles/06487-quietus-albums-of-the-year-so-far-2011">Quietus Albums Of The Year So Far 2011&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/06641-quietus-radio">Quietus Radio: Tune In For The Fourth Edition&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/06753-the-throne-watch-the-throne-album-review">The Throne (Jay-Z & Kanye West) - <i>Watch The Throne</i>&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/07450-frank-ocean-interview">'Imagery, And A Little Bit Of Satire': An Interview With Frank Ocean&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/07527-bbc-sound-of-2012-longlist-announced">BBC Sound of 2012 Longlist Announced&nbsp;<span>&raquo;</span></a>
</li></ul>

	</div>
</div>
	


	<div class="sidebar ">
	<div class="sidebar_inner">
		
		<h5><a href="https://thequietus.com/users/17551"><span class="decorative_text sidebar_header">MORE FROM TARA JOSHI</span></a></h5>
		
		
	<ul class="related"><li class="first">
	<a href="/articles/27361-asha-puthli-interview">The Strange World Of... Asha Puthli&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/26279-false-prpht-lotic-lafawndah-live-review">The Power Is Endless: Out The Frame Festival Reviewed&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/25988-yugen-blakrok-anima-mysterium-album-review">Yugen Blakrok - <i>Anima Mysterium </i>&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/25621-things-learned-at-red-bull-music-academy-festival-berlin-2018">Things Learned At: RBMA & Festival&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/25448-santigold-interview-favourite-albums">My Pioneers: Santigold's Favourite Albums&nbsp;<span>&raquo;</span></a>
</li></ul>
	
	</div>
</div>

	<div class="sidebar ">
	<div class="sidebar_inner">
		
		<h5><span class="decorative_text sidebar_header">MORE: THE LEAD REVIEW </span></h5>
		
		
	<ul class="related"><li class="first">
	<a href="/articles/28938-sarah-davachi-cantus-descant-review">The Mysteries Of The Organ: Sarah Davachi's Cantus, Descant&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/28899-idles-ultra-mono-review">The Emperor's New Briefs: IDLES' Ultra Mono Reviewed&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/28855-the-passion-of-special-interest-review">Ad Cor, Ad Culus: The Passion of Special Interest&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/28835-lila-tirando-a-violeta-limerencia-review">Triplet Rhythms & Occultist Hardcore: Lila Tirando A Violeta's Limerencia Reviewed&nbsp;<span>&raquo;</span></a>
</li><li>
	<a href="/articles/28791-secret-machines-awake-in-the-brain-chamber-review-full-album-stream">Full Force: Secret Machines' Awake In The Brain Chamber&nbsp;<span>&raquo;</span></a>
</li></ul><div class="more"><a href="/features/the-lead-review" class="util">See all &raquo;</a></div>
	
	</div>
</div>
	<div class="sidebar ">
	<div class="sidebar_inner">
		
		<h5><span class="decorative_text sidebar_header">THE DIGEST</span></h5>
		<div class="sidebar_sub">Read the choicest cuts from the Quietus archive: reviews, features and opinion</div>
		
<div id="editorial_picks">
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28506-membership">
		<b>Support tQ! Get Perks!</b><br/>
		Subscribe Here
		</a>
		</div>
		<div class="bg">
			<b>Support tQ! Get Perks!</b><br/>
			Subscribe Here
		</div>
		<a href="/articles/28506-membership"><img alt="Disco_men_1598949719_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28506/disco_men_1598949719_crop_156x120.jpg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28545-shirley-collins-interview-favourite-music">
		<b>Baker's Dozen:</b><br/>
		Shirley Collins
		</a>
		</div>
		<div class="bg">
			<b>Baker's Dozen:</b><br/>
			Shirley Collins
		</div>
		<a href="/articles/28545-shirley-collins-interview-favourite-music"><img alt="Shirley_collins_main_1594196811_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28545/shirley_collins_main_1594196811_crop_156x120.jpg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28583-the-strange-world-of-sun-ra">
		<b>The Strange World Of:</b><br/>
		Sun Ra
		</a>
		</div>
		<div class="bg">
			<b>The Strange World Of:</b><br/>
			Sun Ra
		</div>
		<a href="/articles/28583-the-strange-world-of-sun-ra"><img alt="Screens_feature60_1594583843_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28583/screens_feature60_1594583843_crop_156x120.jpg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28561-mp3-vinyl-napster-music-industry">
		<b>The MP3 At 25</b><br/>
		A Format Revolution
		</a>
		</div>
		<div class="bg">
			<b>The MP3 At 25</b><br/>
			A Format Revolution
		</div>
		<a href="/articles/28561-mp3-vinyl-napster-music-industry"><img alt="Ipod_ad_1594648307_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28561/Ipod_ad_1594648307_crop_156x120.jpeg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28539-hurdy-gurdy-traditional-instrument-drone">
		<b>In Praise Of</b><br/>
		The Hurdy-Gurdy
		</a>
		</div>
		<div class="bg">
			<b>In Praise Of</b><br/>
			The Hurdy-Gurdy
		</div>
		<a href="/articles/28539-hurdy-gurdy-traditional-instrument-drone"><img alt="Hurdgy_gurdy_one_1594029921_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28539/hurdgy_gurdy_one_1594029921_crop_156x120.jpg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28520-werner-herzog-interview">
		<b>A Quietus Interview:</b><br/>
		Werner Herzog
		</a>
		</div>
		<div class="bg">
			<b>A Quietus Interview:</b><br/>
			Werner Herzog
		</div>
		<a href="/articles/28520-werner-herzog-interview"><img alt="Family_romance_34_1593774032_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28520/Family_Romance_34_1593774032_crop_156x120.JPG" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28253-paul-purgas-electronic-india-national-institute-of-design-radio-3-documentary-interview">
		<b>Indian Electronic Music</b><br/>
		A Forgotten History
		</a>
		</div>
		<div class="bg">
			<b>Indian Electronic Music</b><br/>
			A Forgotten History
		</div>
		<a href="/articles/28253-paul-purgas-electronic-india-national-institute-of-design-radio-3-documentary-interview"><img alt="Ei2_1589532798_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28253/EI2_1589532798_crop_156x120.jpg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/28302-housekeeping-faces-review">
		<b>Underground Music:</b><br/>
		Infiltration By The Rich?
		</a>
		</div>
		<div class="bg">
			<b>Underground Music:</b><br/>
			Infiltration By The Rich?
		</div>
		<a href="/articles/28302-housekeeping-faces-review"><img alt="Housekeeping_1590485116_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/28302/housekeeping_1590485116_crop_156x120.jpg" width="156" /></a>
	</div>
	
	<div class="editorial_pick">
		<div class="text">
		<a href="/articles/27504-quietus-albums-of-the-year-2019-norman-records">
		<b>Albums Of The Year</b><br/>
		Best Of 2019 
		</a>
		</div>
		<div class="bg">
			<b>Albums Of The Year</b><br/>
			Best Of 2019 
		</div>
		<a href="/articles/27504-quietus-albums-of-the-year-2019-norman-records"><img alt="Albums_1575230449_crop_156x120" height="120" src="http://s3.amazonaws.com/quietus_production/images/articles/27504/Albums_1575230449_crop_156x120.jpg" width="156" /></a>
	</div>
	
</div>

	</div>
</div>


</div>

<div id="right">
	
	<div class="sidebar ">
	<div class="sidebar_inner">
		
		<h5><a href="/reviews"><span class="decorative_text sidebar_header">REVIEWS</span></a></h5>
		
		

<a href="/articles/28966-richard-skelton-these-charms-can-be-sung-over-a-wound-review" class="review_list">
<img alt="Richard_skelton_these_charms" height="156" src="http://s3.amazonaws.com/quietus_production/images/articles/28966/Richard_Skelton_These_charms..._1600811839_crop_168x168.jpg" width="156" />

Richard Skelton <br/>
<span class="sub">These Charms Can Be Sung Over a Wound</span>
</a>

<a href="/articles/28962-thurston-moore-by-the-fire-review" class="review_list">
<img alt="Thurston_moore_by_the_fire_1600765951_crop_168x168" height="156" src="http://s3.amazonaws.com/quietus_production/images/articles/28962/Thurston_Moore_by_the_fire_1600765951_crop_168x168.jpg" width="156" />

Thurston Moore<br/>
<span class="sub">By The Fire</span>
</a>

<a href="/articles/28953-vatican-shadow-persian-pillars-of-the-gasoline-era-review" class="review_list">
<img alt="Persian_pillars_of_the_gasoline_era_vatican_shadow_1600600450_crop_168x168" height="156" src="http://s3.amazonaws.com/quietus_production/images/articles/28953/persian_pillars_of_the_gasoline_era_vatican_shadow_1600600450_crop_168x168.jpg" width="156" />

Vatican Shadow <br/>
<span class="sub">Persian Pillars Of The Gasoline Era</span>
</a>

<a href="/articles/28945-tricky-fall-to-pieces-review" class="review_list">
<img alt="Tricky_fall_to_pieces_1600360041_crop_168x168" height="156" src="http://s3.amazonaws.com/quietus_production/images/articles/28945/tricky_fall_to_pieces_1600360041_crop_168x168.jpg" width="156" />

Tricky<br/>
<span class="sub">Fall To Pieces</span>
</a>

<a href="/articles/28939-we-wild-blood-vicious-virtues-review" class="review_list">
<img alt="We_wild_blood__1600331867_crop_168x168" height="156" src="http://s3.amazonaws.com/quietus_production/images/articles/28939/We_Wild_Blood__1600331867_crop_168x168.jpg" width="156" />

We Wild Blood<br/>
<span class="sub">Vicious Virtues</span>
</a>

<a href="/articles/28921-howie-lee-7-weapons-series-review" class="review_list">
<img alt="7_weapons_series_howie_lee_1599864033_crop_168x168" height="156" src="http://s3.amazonaws.com/quietus_production/images/articles/28921/7_Weapons_Series_Howie_Lee_1599864033_crop_168x168.jpg" width="156" />

Howie Lee<br/>
<span class="sub">7 Weapons Series</span>
</a>

<div class='more'>
<a href="/reviews" class="util">See all &raquo;</a>
</div>

	</div>
</div>

</div>
</div>



<div id="far_right">
  <a href="/articles/28506-membership">
  <div class="sidebar donate">
	<div class="sidebar_inner">
		
		<h5><span class="decorative_text sidebar_header">SUBSCRIBE TO THE QUIETUS</span></h5>
		
		
    <p>
      Support tQ's work by becoming a subscriber and enjoy the benefits of bonus essays, podcasts and exclusively-commissioned new music. To find out more, click here.
    </p>
    
	</div>
</div>
</a>

  <div id="skyscraper">
</div>

</div>
<br style="clear:both"/>


<br/>


		<div id="footer">
			<b>TheQuietus.com</b>  September 23rd, 2020<br/>

			<div class="columns">
			<div class="column first">
				<b>The Quietus</b>
				<a href="/news">Latest News Headlines &raquo;</a><br/>
				<a href="/reviews">Latest Album Reviews &raquo;</a><br/>
							
							<a href="features">Features</a>
							<ul>
				
					<li><a href="/features/coma-diaries">North of Purgatory: A Coma Diary&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/one-for-the-road">One for the Road&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/the-rumour-mill">The Rumour Mill&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/it-started-with-a-mix">It Started With A Mix&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/escape-velocity">Escape Velocity&nbsp;&raquo;</a></li>
					
					</ul>
				</div>
			<div class="column">
				<br/><ul>
							
							
					<li><a href="/features/in-extremis">In Extremis&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/the-monday-gallery">The Monday Gallery&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/tome-on-the-range">Tome On The Range&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/quietus-artists-of-2008">Quietus Artists Of 2008&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/remember-them">Remember Them...&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/these-things-i-have-learned">Things I Have Learned&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/stack-magazines">Stack Magazines&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/a-palava-in-java">A Palava In Java&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/rocks-backpages">Rock's Backpages&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/interview">A Quietus Interview&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/in-their-own-words">In Their Own Words&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/sound-vision">The Spotify Playlist&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/sonic-router">Sonic Router&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/dragnet">Dragnet&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/in-conversation">In Conversation&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/autobahn">Autobahn&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/the-quietus-at-leisure">The Quietus At Leisure&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/dr-rock">Dr Rock&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/columnus-metallicus">Columnus Metallicus&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/a-domino-halloween">A Domino Halloween&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/beyond-the-hits">Beyond The Hits&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/artists-of-2009">Quietus Artists Of 2009&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/anniversary">Anniversary&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/fall-sound">Fall Sound&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/gardner-s-straight-hedge">Noel's Straight Hedge&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/box-fresh">Box Fresh&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/where-the-slime-lives">Where The Slime Lives&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/2010-a-glass-half-full">2010 A Glass Half Full&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/three-songs-no-flash">Three Songs No Flash&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/war-stories">War Stories&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/quietus-artists-of-2101">Quietus Artists Of 2010&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/baker-s-dozen">Baker's Dozen&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/coast-to-coast">Coast To Coast&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/rockfort">Rockfort&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/ten-songs">Ten Songs&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/an-eastern-spring">An Eastern Spring&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/captain-morgan-s-rum-music">Rum Music&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/listening-in">Quietus Mixes & Radio&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/hyperspecific">Hyperspecific&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/a-new-nineties">A New Nineties&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/quietus-artists-of-2011">Quietus Artists Of 2011&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/strange-frightening-world-of">Strange World Of...&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/the-long-lunch">The Long Lunch&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/afro-sonic">Afrosonic&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/john-peel-s-lp-collection">John Peel's Records&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/hoody-hoo">Hoody Who&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/the-calvert-report">The Calvert Report&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/radioland">Radio-Activity&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/tape-adapter">Tape Adapter&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/i-am-demo-suzuki">I Am Demo Suzuki&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/electro-chaabi">Electro Chaabi&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/track-by-track">Track-By-Track&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/complete-communion">Complete Communion&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/spool-s-out">Spool's Out&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/radio">Radio&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/one-take">One Take&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/the-lead-review">The Lead Review &nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/craft-work">Craft/Work&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/quietus-lists">Quietus Charts&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/at-leisure">At Leisure&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/junk-shop-classical">Junk Shop Classical&nbsp;&raquo;</a></li>
					
							
					<li><a href="/features/low-culture">Low Culture&nbsp;&raquo;</a></li>
					
							
							</ul>


							
							<a href="opinion">Opinion</a><ul>
							
							<li><a href="/opinion/black-sky-thinking">Black Sky Thinking&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/in-defence-of">In Defence Of...&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/mr-agreeable">Mr Agreeable&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/i-m-no-expert-with-aidan-moffat">I'm No Expert...&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/dr-johnson">Dr Johnson&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/the-2009-wreath-lectures">2009 Wreath Lectures&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/come-on-fry-young">Come On Fry Young&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/john-moore-s-diary">John Moore's Diary&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/2010-wreath-lectures">2010 Wreath Lectures&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/you-heard-me-wrong">You Heard Me Wrong&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/wreath-lectures">Wreath Lectures&nbsp;&raquo;</a></li>
							
							<li><a href="/opinion/the-quietus-essay">The Quietus Essay&nbsp;&raquo;</a></li>
							</ul>
			</div>


			<div class="column rss_feeds">
				<b>RSS Feeds</b>
        <a href="/news?format=atom"><img alt="Rss" height="12" src="/images/rss.jpg?1547148560" width="12" /> News Headlines</a><br/>
        <a href="/reviews.atom"><img alt="Rss" height="12" src="/images/rss.jpg?1547148560" width="12" /> Latest Reviews</a><br/>
        <a href="/features.atom"><img alt="Rss" height="12" src="/images/rss.jpg?1547148560" width="12" /> Features</a><br/>

				<a href="/feed"><img alt="Rss" height="12" src="/images/rss.jpg?1547148560" width="12" /> All Articles</a><br/>

			</div>

			<div class="column">
				<b>Info</b>
				<a href="/about">About The Quietus</a><br/>
				<a href="https://www.facebook.com/TheQuietus" onclick="window.open(this.href);return false;">Facebook</a><br/>
			</div>
			<br class="clear"/>
			</div>

	</div>
	</div></div>
	</div>

  <div id="adblockwarning" style="display:none;">
      <div class="mask">
      </div>
      <div class="message">
          <img src="/images/the_quietus.jpg" alt="The Quietus" />
          <div class="text">
              <h2>It looks like you're using an adblocker.</h2>
              <p>As a wholly independent publication, we rely entirely on our ad bookings to keep The Quietus going. Please whitelist our site in order to continue to access The Quietus.</p>
          </div>
      </div>
  </div>

	<script type="text/javascript">
//<![CDATA[


	Event.observe(window, 'load', function() {
		
	 });

		 


	
//]]>
</script>

  <!-- New Quantcast tag -->
  <script type="text/javascript">
   _qevents.push({
       qacct:"p-5bPAYc7bEszG3"
   });
  </script>
  <noscript>
      <div style="display:none;">
          <img src="//pixel.quantserve.com/pixel/p-5bPAYc7bEszG3.gif" border="0" height="1" width="1" alt="Quantcast"/>
      </div>
  </noscript>

  <script type="text/javascript">
   _qevents.push({
       qacct:"p-6EzWtvBV9sFU3"
   });
  </script>
  <noscript>
      <div style="display:none;">
          <img src="//pixel.quantserve.com/pixel/p-6EzWtvBV9sFU3.gif" border="0" height="1" width="1" alt="Quantcast"/>
      </div>
  </noscript>
  <!-- End New Quantcast tag -->

  
    <script src="/javascripts/ads.js" type="text/javascript"></script>
    <script src="/javascripts/abbuster.js" type="text/javascript"></script>
    <script src="https://vice-publishers-cdn.vice.com/GENERATED/thequietus.com.js"></script>
    </body>
</html>

